<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>channgjing_lianji_x4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,108}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{145,108}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>channgjing_lianji_x4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{73,54}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,40},{73,54}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>channgjing_lianji_x4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,564},{37,28}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,53},{37,28}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>channgjing_lianji_x4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,355},{117,110}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{117,110}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>channgjing_lianji_x4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,234},{119,112}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{119,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>channgjing_lianji_x4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{119,112}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{119,112}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>channgjing_lianji_x4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,113},{119,114}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{119,114}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>channgjing_lianji_x4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{119,114}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{119,114}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>channgjing_lianji_x4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{119,110}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{119,110}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>channgjing_lianji_x4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,474},{115,108}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{115,108}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>channgjing_lianji_x4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{115,108}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{115,108}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>channgjing_lianji_x4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{109,82}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,25},{109,82}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>changjing_lianjiXGJLX4.png</string>
            <key>size</key>
            <string>{239,620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86094aaae6b37b72ec40d32fef3e9565$</string>
            <key>textureFileName</key>
            <string>changjing_lianjiXGJLX4.png</string>
        </dict>
    </dict>
</plist>
