<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>channgjing_lianji_x5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,106}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{151,106}}</string>
                <key>sourceSize</key>
                <string>{151,122}</string>
            </dict>
            <key>channgjing_lianji_x5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{77,54}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,42},{77,54}}</string>
                <key>sourceSize</key>
                <string>{151,122}</string>
            </dict>
            <key>channgjing_lianji_x5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,580},{39,28}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,55},{39,28}}</string>
                <key>sourceSize</key>
                <string>{151,122}</string>
            </dict>
            <key>channgjing_lianji_x5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,369},{123,114}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{123,114}}</string>
                <key>sourceSize</key>
                <string>{151,122}</string>
            </dict>
            <key>channgjing_lianji_x5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,244},{123,116}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{123,116}}</string>
                <key>sourceSize</key>
                <string>{151,122}</string>
            </dict>
            <key>channgjing_lianji_x5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{123,118}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{123,118}}</string>
                <key>sourceSize</key>
                <string>{151,122}</string>
            </dict>
            <key>channgjing_lianji_x5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,119},{123,118}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{123,118}}</string>
                <key>sourceSize</key>
                <string>{151,122}</string>
            </dict>
            <key>channgjing_lianji_x5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{123,118}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{123,118}}</string>
                <key>sourceSize</key>
                <string>{151,122}</string>
            </dict>
            <key>channgjing_lianji_x5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{123,114}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{123,114}}</string>
                <key>sourceSize</key>
                <string>{151,122}</string>
            </dict>
            <key>channgjing_lianji_x5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{121,112}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{121,112}}</string>
                <key>sourceSize</key>
                <string>{151,122}</string>
            </dict>
            <key>channgjing_lianji_x5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,494},{121,110}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{121,110}}</string>
                <key>sourceSize</key>
                <string>{151,122}</string>
            </dict>
            <key>channgjing_lianji_x5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{115,80}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,29},{115,80}}</string>
                <key>sourceSize</key>
                <string>{151,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>changjing_lianjiXGJLX5.png</string>
            <key>size</key>
            <string>{247,636}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4f45af9b1c7e3ad47ca2b05e72d061f$</string>
            <key>textureFileName</key>
            <string>changjing_lianjiXGJLX5.png</string>
        </dict>
    </dict>
</plist>
