<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CJ1_chouti_Ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1834},{232,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,109}}</string>
                <key>sourceSize</key>
                <string>{232,109}</string>
            </dict>
            <key>CJ1_chouti_benzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1571},{201,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,253}}</string>
                <key>sourceSize</key>
                <string>{201,253}</string>
            </dict>
            <key>CJ1_chouti_chouti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1077,686}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1077,686}}</string>
                <key>sourceSize</key>
                <string>{1077,686}</string>
            </dict>
            <key>CJ1_chouti_dingshuji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1831},{185,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,97}}</string>
                <key>sourceSize</key>
                <string>{185,97}</string>
            </dict>
            <key>CJ1_chouti_guizichouti_ZD.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,690},{338,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,88}}</string>
                <key>sourceSize</key>
                <string>{338,88}</string>
            </dict>
            <key>CJ1_chouti_laoshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1831},{156,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,128}}</string>
                <key>sourceSize</key>
                <string>{156,128}</string>
            </dict>
            <key>CJ1_chouti_qianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1047},{263,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,117}}</string>
                <key>sourceSize</key>
                <string>{263,117}</string>
            </dict>
            <key>CJ1_chouti_shexiangtoumoxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1831},{116,184}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{116,184}}</string>
                <key>sourceSize</key>
                <string>{176,210}</string>
            </dict>
            <key>CJ1_chouti_shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1831},{157,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,187}}</string>
                <key>sourceSize</key>
                <string>{157,187}</string>
            </dict>
            <key>CJ1_chouti_shubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,690},{73,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,91}}</string>
                <key>sourceSize</key>
                <string>{73,91}</string>
            </dict>
            <key>CJ1_chouti_tongbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1834},{196,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,114}}</string>
                <key>sourceSize</key>
                <string>{196,114}</string>
            </dict>
            <key>CJ1_chouti_wano.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,783},{123,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,162}}</string>
                <key>sourceSize</key>
                <string>{123,162}</string>
            </dict>
            <key>CJ1_chouti_xiaogou.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1473},{117,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,131}}</string>
                <key>sourceSize</key>
                <string>{117,131}</string>
            </dict>
            <key>CJ1_chouti_yuankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1265},{564,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,564}}</string>
                <key>sourceSize</key>
                <string>{564,564}</string>
            </dict>
            <key>CJ1_chouti_yuanpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1831},{139,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,108}}</string>
                <key>sourceSize</key>
                <string>{139,108}</string>
            </dict>
            <key>CJ1_chouti_zhizhang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1592},{270,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,240}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>CJ1_chouti_zhizhang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1193},{289,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,278}}</string>
                <key>sourceSize</key>
                <string>{289,278}</string>
            </dict>
            <key>CJ1_chouti_zhizhang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,780},{295,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,228}}</string>
                <key>sourceSize</key>
                <string>{295,228}</string>
            </dict>
            <key>GZ_choutiZD_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1109},{623,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,154}}</string>
                <key>sourceSize</key>
                <string>{623,154}</string>
            </dict>
            <key>GZ_chouti_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{653,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{653,417}}</string>
                <key>sourceSize</key>
                <string>{653,417}</string>
            </dict>
            <key>GZ_choutiwupin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1473},{113,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,90}}</string>
                <key>sourceSize</key>
                <string>{113,90}</string>
            </dict>
            <key>GZ_choutiwupin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1010},{294,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,181}}</string>
                <key>sourceSize</key>
                <string>{294,181}</string>
            </dict>
            <key>GZ_choutiwupin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,947},{119,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,98}}</string>
                <key>sourceSize</key>
                <string>{119,98}</string>
            </dict>
            <key>GZ_choutiwupin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1312},{257,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,157}}</string>
                <key>sourceSize</key>
                <string>{257,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene_1_chouti.png</string>
            <key>size</key>
            <string>{1081,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82800d629ed61b235d56536cd9af1167$</string>
            <key>textureFileName</key>
            <string>gameScene_1_chouti.png</string>
        </dict>
    </dict>
</plist>
