<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CJ1_chouti_benzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,754},{201,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,253}}</string>
                <key>sourceSize</key>
                <string>{201,253}</string>
            </dict>
            <key>CJ1_chouti_dingshuji.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,556},{185,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,97}}</string>
                <key>sourceSize</key>
                <string>{185,97}</string>
            </dict>
            <key>CJ1_chouti_laoshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,316},{156,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,128}}</string>
                <key>sourceSize</key>
                <string>{156,128}</string>
            </dict>
            <key>CJ1_chouti_qianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{263,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,117}}</string>
                <key>sourceSize</key>
                <string>{263,117}</string>
            </dict>
            <key>CJ1_chouti_shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,127},{157,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,187}}</string>
                <key>sourceSize</key>
                <string>{157,187}</string>
            </dict>
            <key>CJ1_chouti_shubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,655},{73,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,91}}</string>
                <key>sourceSize</key>
                <string>{73,91}</string>
            </dict>
            <key>CJ1_chouti_tongbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,655},{196,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,114}}</string>
                <key>sourceSize</key>
                <string>{196,114}</string>
            </dict>
            <key>CJ1_chouti_wano.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{123,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,162}}</string>
                <key>sourceSize</key>
                <string>{123,162}</string>
            </dict>
            <key>CJ1_chouti_xiaogou.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,853},{117,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,131}}</string>
                <key>sourceSize</key>
                <string>{117,131}</string>
            </dict>
            <key>CJ1_chouti_yuanpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,446},{139,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,108}}</string>
                <key>sourceSize</key>
                <string>{139,108}</string>
            </dict>
            <key>CJ1_chouti_zhizhang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{270,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,240}}</string>
                <key>sourceSize</key>
                <string>{270,240}</string>
            </dict>
            <key>CJ1_chouti_zhizhang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{289,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,278}}</string>
                <key>sourceSize</key>
                <string>{289,278}</string>
            </dict>
            <key>CJ1_chouti_zhizhang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,228}}</string>
                <key>sourceSize</key>
                <string>{295,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene_1_chouti.png</string>
            <key>size</key>
            <string>{465,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:753c7cdde17e3426dc9f8a39076c3820$</string>
            <key>textureFileName</key>
            <string>gameScene_1_chouti.png</string>
        </dict>
    </dict>
</plist>
