<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xinzhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,181},{152,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,227}}</string>
                <key>sourceSize</key>
                <string>{152,227}</string>
            </dict>
            <key>xinzhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{145,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,108}}</string>
                <key>sourceSize</key>
                <string>{145,108}</string>
            </dict>
            <key>xinzhi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,517},{216,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,142}}</string>
                <key>sourceSize</key>
                <string>{216,142}</string>
            </dict>
            <key>xinzhi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{258,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,194}}</string>
                <key>sourceSize</key>
                <string>{258,194}</string>
            </dict>
            <key>xinzhi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,335},{174,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,180}}</string>
                <key>sourceSize</key>
                <string>{174,180}</string>
            </dict>
            <key>xinzhi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{211,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,177}}</string>
                <key>sourceSize</key>
                <string>{211,177}</string>
            </dict>
            <key>xinzhi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,175}}</string>
                <key>sourceSize</key>
                <string>{281,175}</string>
            </dict>
            <key>xinzhi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,375},{245,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,140}}</string>
                <key>sourceSize</key>
                <string>{245,140}</string>
            </dict>
            <key>xinzhi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{179,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,251}}</string>
                <key>sourceSize</key>
                <string>{179,251}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene4_1.png</string>
            <key>size</key>
            <string>{501,738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fe2dcef046a6f3d91dca26bf5c17d1a$</string>
            <key>textureFileName</key>
            <string>gameScene4_1.png</string>
        </dict>
    </dict>
</plist>
