<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ClueUI_findObject_abacus.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,286},{204,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,132}}</string>
                <key>sourceSize</key>
                <string>{204,132}</string>
            </dict>
            <key>ClueUI_findObject_book.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,492},{168,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,175}}</string>
                <key>sourceSize</key>
                <string>{168,175}</string>
            </dict>
            <key>ClueUI_findObject_cloth.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{689,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{689,475}}</string>
                <key>sourceSize</key>
                <string>{689,475}</string>
            </dict>
            <key>ClueUI_findObject_clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{392,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,270}}</string>
                <key>sourceSize</key>
                <string>{392,270}</string>
            </dict>
            <key>ClueUI_findObject_clothes2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,689},{305,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,234}}</string>
                <key>sourceSize</key>
                <string>{305,234}</string>
            </dict>
            <key>ClueUI_findObject_flute.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,873},{302,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,50}}</string>
                <key>sourceSize</key>
                <string>{302,50}</string>
            </dict>
            <key>ClueUI_findObject_scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,689},{264,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,263}}</string>
                <key>sourceSize</key>
                <string>{264,263}</string>
            </dict>
            <key>ClueUI_findObject_scroll2.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,2},{282,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,108}}</string>
                <key>sourceSize</key>
                <string>{282,108}</string>
            </dict>
            <key>ClueUI_findObject_umbrella.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,479},{400,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,208}}</string>
                <key>sourceSize</key>
                <string>{400,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene5_1.png</string>
            <key>size</key>
            <string>{846,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94d6af46e5998f16a6fdb84a4c85cd1b$</string>
            <key>textureFileName</key>
            <string>gameScene5_1.png</string>
        </dict>
    </dict>
</plist>
