<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Alert_reel_bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{61,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,236}}</string>
                <key>sourceSize</key>
                <string>{61,236}</string>
            </dict>
            <key>Alert_reel_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,293},{410,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,172}}</string>
                <key>sourceSize</key>
                <string>{410,172}</string>
            </dict>
            <key>tishikuangxinziyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{566,342}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{566,342}}</string>
                <key>sourceSize</key>
                <string>{574,350}</string>
            </dict>
            <key>zhujiemian_buttonCacle.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,409},{150,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,61}}</string>
                <key>sourceSize</key>
                <string>{150,61}</string>
            </dict>
            <key>zhujiemian_chongshianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,346},{150,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,61}}</string>
                <key>sourceSize</key>
                <string>{150,61}</string>
            </dict>
            <key>zhujiemian_gengxinquedinganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,409},{150,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,62}}</string>
                <key>sourceSize</key>
                <string>{150,62}</string>
            </dict>
            <key>zhujiemian_gengxinzanbuanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{150,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,62}}</string>
                <key>sourceSize</key>
                <string>{150,62}</string>
            </dict>
            <key>zhujiemian_tishitanchukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{437,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,289}}</string>
                <key>sourceSize</key>
                <string>{437,289}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AlertResource.png</string>
            <key>size</key>
            <string>{1009,473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f78cc9b53f1ae91a97516ad4a3d2c6f9$</string>
            <key>textureFileName</key>
            <string>AlertResource.png</string>
        </dict>
    </dict>
</plist>
