<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DialogUI_btnOK.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,366},{181,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,62}}</string>
                <key>sourceSize</key>
                <string>{181,62}</string>
            </dict>
            <key>DialogUI_dhjmtg.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,228},{136,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,73}}</string>
                <key>sourceSize</key>
                <string>{136,73}</string>
            </dict>
            <key>DialogUI_evidence.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,676},{259,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,191}}</string>
                <key>sourceSize</key>
                <string>{259,191}</string>
            </dict>
            <key>DialogUI_evidence1.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,395},{279,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,219}}</string>
                <key>sourceSize</key>
                <string>{279,219}</string>
            </dict>
            <key>DialogUI_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1229},{59,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>DialogUI_jixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1188},{86,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,41}}</string>
                <key>sourceSize</key>
                <string>{86,41}</string>
            </dict>
            <key>DialogUI_mingzidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1192},{58,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,215}}</string>
                <key>sourceSize</key>
                <string>{58,215}</string>
            </dict>
            <key>DialogUI_textDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1137,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1137,178}}</string>
                <key>sourceSize</key>
                <string>{1137,178}</string>
            </dict>
            <key>Frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1342},{53,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,43}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>Frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1340},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>Frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1290},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>Frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1021},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>MainUI_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1074},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>MainUI_chongzhi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1029},{86,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,43}}</string>
                <key>sourceSize</key>
                <string>{86,43}</string>
            </dict>
            <key>MainUI_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,899},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>MainUI_kaiqizhengcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,664},{336,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,98}}</string>
                <key>sourceSize</key>
                <string>{336,98}</string>
            </dict>
            <key>MainUI_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,366},{139,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,127}}</string>
                <key>sourceSize</key>
                <string>{139,127}</string>
            </dict>
            <key>MainUI_suiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1231},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>MainUI_suiji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1192},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>MainUI_tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1389},{36,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,49}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>MainUI_tilitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,549},{171,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,24}}</string>
                <key>sourceSize</key>
                <string>{171,24}</string>
            </dict>
            <key>MainUI_token_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1088},{68,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>MainUI_tongqianui.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1397},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>MainUI_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1085},{52,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,30}}</string>
                <key>sourceSize</key>
                <string>{52,30}</string>
            </dict>
            <key>MainUI_yipinmitan.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,899},{120,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,34}}</string>
                <key>sourceSize</key>
                <string>{120,34}</string>
            </dict>
            <key>MainUI_yuanbaoui.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1340},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>MainUI_zuoshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,869},{298,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,132}}</string>
                <key>sourceSize</key>
                <string>{298,132}</string>
            </dict>
            <key>SceneUI_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1127},{266,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,63}}</string>
                <key>sourceSize</key>
                <string>{266,63}</string>
            </dict>
            <key>SceneUI_chakananniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1225},{86,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,41}}</string>
                <key>sourceSize</key>
                <string>{86,41}</string>
            </dict>
            <key>SceneUI_duihuaanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1145},{86,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,41}}</string>
                <key>sourceSize</key>
                <string>{86,41}</string>
            </dict>
            <key>SceneUI_gantanhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,279},{58,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,112}}</string>
                <key>sourceSize</key>
                <string>{58,112}</string>
            </dict>
            <key>SceneUI_guangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1088},{86,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,41}}</string>
                <key>sourceSize</key>
                <string>{86,41}</string>
            </dict>
            <key>SceneUI_guangxiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,676},{12,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,61}}</string>
                <key>sourceSize</key>
                <string>{12,61}</string>
            </dict>
            <key>SceneUI_rightMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1314},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>SceneUI_tilitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1257},{222,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,30}}</string>
                <key>sourceSize</key>
                <string>{222,30}</string>
            </dict>
            <key>SceneUI_wufacaijue.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,228},{614,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,165}}</string>
                <key>sourceSize</key>
                <string>{614,165}</string>
            </dict>
            <key>baseUI_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1252},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>caseUI_csajsuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1314},{132,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>caseUI_csajsuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,626},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>caseUI_suodi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1314},{132,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>caseUI_suodi2.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,495},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>caseUI_xiangyoufx.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1027},{59,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,111}}</string>
                <key>sourceSize</key>
                <string>{59,111}</string>
            </dict>
            <key>caseUI_xiangyoufx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,870},{53,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,100}}</string>
                <key>sourceSize</key>
                <string>{53,100}</string>
            </dict>
            <key>caseUI_xiangzuofx.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,757},{59,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,111}}</string>
                <key>sourceSize</key>
                <string>{59,111}</string>
            </dict>
            <key>caseUI_xiangzuofx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,757},{53,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,100}}</string>
                <key>sourceSize</key>
                <string>{53,100}</string>
            </dict>
            <key>changancheng_zhiyin003.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1021},{271,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,85}}</string>
                <key>sourceSize</key>
                <string>{271,85}</string>
            </dict>
            <key>chuangjuebj.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{700,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,224}}</string>
                <key>sourceSize</key>
                <string>{700,224}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1251},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>gameTop_lianjitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,395},{360,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,44}}</string>
                <key>sourceSize</key>
                <string>{360,44}</string>
            </dict>
            <key>gameUI_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,972},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>gameUI_skillrecover.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,549},{183,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,45}}</string>
                <key>sourceSize</key>
                <string>{183,45}</string>
            </dict>
            <key>gameUI_tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1296},{42,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,57}}</string>
                <key>sourceSize</key>
                <string>{42,57}</string>
            </dict>
            <key>gameUI_yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1394},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>gameUI_zdxjixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,664},{355,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,152}}</string>
                <key>sourceSize</key>
                <string>{355,152}</string>
            </dict>
            <key>guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1058},{197,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,197}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>headFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1169},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{275,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,110}}</string>
                <key>sourceSize</key>
                <string>{275,110}</string>
            </dict>
            <key>mainFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,395},{306,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,267}}</string>
                <key>sourceSize</key>
                <string>{306,267}</string>
            </dict>
            <key>mainUI_token_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1176},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>queren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1141},{308,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,130}}</string>
                <key>sourceSize</key>
                <string>{308,130}</string>
            </dict>
            <key>shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1003},{398,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,53}}</string>
                <key>sourceSize</key>
                <string>{398,53}</string>
            </dict>
            <key>titleFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1141},{295,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,80}}</string>
                <key>sourceSize</key>
                <string>{295,80}</string>
            </dict>
            <key>titleList.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1085},{345,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,35}}</string>
                <key>sourceSize</key>
                <string>{345,35}</string>
            </dict>
            <key>touxiangMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1294},{158,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,223}}</string>
                <key>sourceSize</key>
                <string>{158,223}</string>
            </dict>
            <key>touxiangdg.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,757},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>touxiangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1058},{251,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,67}}</string>
                <key>sourceSize</key>
                <string>{251,67}</string>
            </dict>
            <key>zhujiemian_tishiguanbianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,722},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>zhujiemian_tishikuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,395},{688,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,47}}</string>
                <key>sourceSize</key>
                <string>{688,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baseUI.png</string>
            <key>size</key>
            <string>{1011,1454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2256abf6f91b147c77b5ec9f734c5806:1/1$</string>
            <key>textureFileName</key>
            <string>baseUI.png</string>
        </dict>
    </dict>
</plist>
