<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bzsl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,430},{103,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,20}}</string>
                <key>sourceSize</key>
                <string>{103,20}</string>
            </dict>
            <key>chuangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,787},{95,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,47}}</string>
                <key>sourceSize</key>
                <string>{95,47}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{328,276}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,276}}</string>
                <key>sourceSize</key>
                <string>{332,278}</string>
            </dict>
            <key>fasong.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,734},{108,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,44}}</string>
                <key>sourceSize</key>
                <string>{108,44}</string>
            </dict>
            <key>fubenxingji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,332},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>gonghui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,965},{79,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,35}}</string>
                <key>sourceSize</key>
                <string>{79,35}</string>
            </dict>
            <key>gonghui_anniuzhuantai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,672},{104,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,105}}</string>
                <key>sourceSize</key>
                <string>{104,105}</string>
            </dict>
            <key>gonghui_anniuzhuantai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,690},{89,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,91}}</string>
                <key>sourceSize</key>
                <string>{89,91}</string>
            </dict>
            <key>gonghui_chengyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,778},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>gonghui_chengyuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,944},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>gonghui_chuangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,913},{136,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,50}}</string>
                <key>sourceSize</key>
                <string>{136,50}</string>
            </dict>
            <key>gonghui_chuizhifengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{6,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,440}}</string>
                <key>sourceSize</key>
                <string>{6,440}</string>
            </dict>
            <key>gonghui_fenlan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{680,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,100}}</string>
                <key>sourceSize</key>
                <string>{684,100}</string>
            </dict>
            <key>gonghui_fuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,944},{79,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>gonghui_fuben1.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,935},{79,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>gonghui_gaoliangqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{110,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,460}}</string>
                <key>sourceSize</key>
                <string>{110,460}</string>
            </dict>
            <key>gonghui_paowenquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,879},{80,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,63}}</string>
                <key>sourceSize</key>
                <string>{80,63}</string>
            </dict>
            <key>gonghui_paowenquan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,853},{80,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,63}}</string>
                <key>sourceSize</key>
                <string>{80,63}</string>
            </dict>
            <key>gonghui_shenqingjiaru.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,876},{127,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{127,66}}</string>
                <key>sourceSize</key>
                <string>{129,68}</string>
            </dict>
            <key>gonghui_shousuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,830},{95,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,47}}</string>
                <key>sourceSize</key>
                <string>{95,47}</string>
            </dict>
            <key>gonghui_wenlu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{843,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{843,194}}</string>
                <key>sourceSize</key>
                <string>{843,194}</string>
            </dict>
            <key>gonghui_xianxifenggexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{278,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,3}}</string>
                <key>sourceSize</key>
                <string>{278,3}</string>
            </dict>
            <key>gonghuijieshaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{588,86}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{588,86}}</string>
                <key>sourceSize</key>
                <string>{604,88}</string>
            </dict>
            <key>gonghuipindao.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,929},{80,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>gonghuipindao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,926},{80,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>guangligonghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,781},{95,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,47}}</string>
                <key>sourceSize</key>
                <string>{95,47}</string>
            </dict>
            <key>jiaohaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,672},{125,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,60}}</string>
                <key>sourceSize</key>
                <string>{125,60}</string>
            </dict>
            <key>jinru.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,604},{149,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,39}}</string>
                <key>sourceSize</key>
                <string>{149,39}</string>
            </dict>
            <key>jishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{331,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,85}}</string>
                <key>sourceSize</key>
                <string>{331,85}</string>
            </dict>
            <key>kaipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,690},{95,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,47}}</string>
                <key>sourceSize</key>
                <string>{95,47}</string>
            </dict>
            <key>kaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,563},{149,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,39}}</string>
                <key>sourceSize</key>
                <string>{149,39}</string>
            </dict>
            <key>paotangw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{775,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{775,366}}</string>
                <key>sourceSize</key>
                <string>{775,366}</string>
            </dict>
            <key>renming.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,780},{94,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,60}}</string>
                <key>sourceSize</key>
                <string>{94,60}</string>
            </dict>
            <key>shenqingzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{124,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{124,42}}</string>
                <key>sourceSize</key>
                <string>{124,60}</string>
            </dict>
            <key>sousjieguo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,903},{88,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,24}}</string>
                <key>sourceSize</key>
                <string>{88,24}</string>
            </dict>
            <key>sycs.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,991},{68,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,18}}</string>
                <key>sourceSize</key>
                <string>{68,18}</string>
            </dict>
            <key>tichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,842},{94,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,60}}</string>
                <key>sourceSize</key>
                <string>{94,60}</string>
            </dict>
            <key>tuichugonghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,963},{95,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,47}}</string>
                <key>sourceSize</key>
                <string>{95,47}</string>
            </dict>
            <key>tuijiangonghui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,965},{86,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,24}}</string>
                <key>sourceSize</key>
                <string>{86,24}</string>
            </dict>
            <key>wenquan_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,566},{104,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,222}}</string>
                <key>sourceSize</key>
                <string>{104,222}</string>
            </dict>
            <key>wenquan_nan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,756},{94,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,179}}</string>
                <key>sourceSize</key>
                <string>{94,179}</string>
            </dict>
            <key>wenquan_nichengdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,968},{158,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,38}}</string>
                <key>sourceSize</key>
                <string>{158,38}</string>
            </dict>
            <key>wenquan_nv.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,852},{59,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,183}}</string>
                <key>sourceSize</key>
                <string>{59,183}</string>
            </dict>
            <key>wenquan_nv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,332},{96,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,210}}</string>
                <key>sourceSize</key>
                <string>{96,210}</string>
            </dict>
            <key>wenquan_nv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,430},{105,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,177}}</string>
                <key>sourceSize</key>
                <string>{105,177}</string>
            </dict>
            <key>wenquan_renwuxinxikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,884},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>wenquan_touxiangwaikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,668},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>wenquan_yaoqingrenshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,537},{206,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,24}}</string>
                <key>sourceSize</key>
                <string>{206,24}</string>
            </dict>
            <key>wenquan_yiyaoqing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,842},{89,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,59}}</string>
                <key>sourceSize</key>
                <string>{89,59}</string>
            </dict>
            <key>wkq.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,645},{114,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,43}}</string>
                <key>sourceSize</key>
                <string>{114,43}</string>
            </dict>
            <key>xydstp.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,904},{93,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,20}}</string>
                <key>sourceSize</key>
                <string>{93,20}</string>
            </dict>
            <key>yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,780},{94,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,60}}</string>
                <key>sourceSize</key>
                <string>{94,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>club.png</string>
            <key>size</key>
            <string>{1059,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1278526e6bfa1cd0675ef80d039243b:1/1$</string>
            <key>textureFileName</key>
            <string>club.png</string>
        </dict>
    </dict>
</plist>
