<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>channgjing_lianji_x3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{145,112}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{145,112}}</string>
                <key>sourceSize</key>
                <string>{149,134}</string>
            </dict>
            <key>channgjing_lianji_x3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,132},{89,62}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,48},{89,62}}</string>
                <key>sourceSize</key>
                <string>{149,134}</string>
            </dict>
            <key>channgjing_lianji_x3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,196},{37,30}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,62},{37,30}}</string>
                <key>sourceSize</key>
                <string>{149,134}</string>
            </dict>
            <key>channgjing_lianji_x3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,128},{139,122}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{139,122}}</string>
                <key>sourceSize</key>
                <string>{149,134}</string>
            </dict>
            <key>channgjing_lianji_x3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{141,124}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{141,124}}</string>
                <key>sourceSize</key>
                <string>{149,134}</string>
            </dict>
            <key>channgjing_lianji_x3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{141,124}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{141,124}}</string>
                <key>sourceSize</key>
                <string>{149,134}</string>
            </dict>
            <key>channgjing_lianji_x3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{141,126}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{141,126}}</string>
                <key>sourceSize</key>
                <string>{149,134}</string>
            </dict>
            <key>channgjing_lianji_x3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{141,128}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{141,128}}</string>
                <key>sourceSize</key>
                <string>{149,134}</string>
            </dict>
            <key>channgjing_lianji_x3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,128}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{141,128}}</string>
                <key>sourceSize</key>
                <string>{149,134}</string>
            </dict>
            <key>channgjing_lianji_x3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{139,126}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{139,126}}</string>
                <key>sourceSize</key>
                <string>{149,134}</string>
            </dict>
            <key>channgjing_lianji_x3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{139,128}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{139,128}}</string>
                <key>sourceSize</key>
                <string>{149,134}</string>
            </dict>
            <key>channgjing_lianji_x3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,128},{133,94}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{133,94}}</string>
                <key>sourceSize</key>
                <string>{149,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>changjing_lianjiXGJLX3.png</string>
            <key>size</key>
            <string>{988,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a46b01c7230617daa41f8ab1c5c80c87$</string>
            <key>textureFileName</key>
            <string>changjing_lianjiXGJLX3.png</string>
        </dict>
    </dict>
</plist>
