<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>channgjing_lianji_X6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,105}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{139,105}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
            <key>channgjing_lianji_X6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,83},{71,53}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,41},{71,53}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
            <key>channgjing_lianji_X6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,83},{35,27}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,54},{35,27}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
            <key>channgjing_lianji_X6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,374},{123,115}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{123,115}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
            <key>channgjing_lianji_X6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{125,117}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{125,117}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
            <key>channgjing_lianji_X6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{125,115}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{125,115}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
            <key>channgjing_lianji_X6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{125,119}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{125,119}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
            <key>channgjing_lianji_X6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,249},{123,117}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{123,117}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
            <key>channgjing_lianji_X6_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{123,113}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{123,113}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
            <key>channgjing_lianji_X6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,138},{119,109}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{119,109}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
            <key>channgjing_lianji_X6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,499},{121,107}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{121,107}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
            <key>channgjing_lianji_X6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{105,79}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{105,79}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>changjing_lianjiXGJLX6.png</string>
            <key>size</key>
            <string>{250,610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df619806c59794c0c02e95a9ed171ccb$</string>
            <key>textureFileName</key>
            <string>changjing_lianjiXGJLX6.png</string>
        </dict>
    </dict>
</plist>
