<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhukongqu_tishi_houyan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{31,45}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{31,45}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>zhukongqu_tishi_houyan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{33,53}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,53}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>zhukongqu_tishi_houyan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{35,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{35,49}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>zhukongqu_tishi_houyan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{35,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{35,53}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>zhukongqu_tishi_houyan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{35,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{35,53}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>zhukongqu_tishi_houyan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,55}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>zhukongqu_tishi_houyan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{35,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,53}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>zhukongqu_tishi_houyan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{35,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,53}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>zhukongqu_tishi_houyan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{33,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{33,51}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>zhukongqu_tishi_houyan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{31,45}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{31,45}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xianchang_zhukongqu_houyanXG.png</string>
            <key>size</key>
            <string>{360,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a482c7dbda7bbf92392d8ef0031f459$</string>
            <key>textureFileName</key>
            <string>xianchang_zhukongqu_houyanXG.png</string>
        </dict>
    </dict>
</plist>
