<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dengrujiemian_bangdingzhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,1898},{289,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,67}}</string>
                <key>sourceSize</key>
                <string>{289,67}</string>
            </dict>
            <key>dengrujiemian_dengruzhuce.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1898},{289,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,67}}</string>
                <key>sourceSize</key>
                <string>{289,67}</string>
            </dict>
            <key>dengrujiemian_kuaisukaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1845},{289,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,67}}</string>
                <key>sourceSize</key>
                <string>{289,67}</string>
            </dict>
            <key>niao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1509},{39,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{39,32}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>niao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,1214},{27,26}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{27,26}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>niao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,1867},{29,36}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>niao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1967},{29,22}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{29,22}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>niao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,901},{23,32}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,20},{23,32}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>niao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1845},{27,20}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{27,20}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>qidong_baimaguanwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,1824},{17,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,72}}</string>
                <key>sourceSize</key>
                <string>{17,72}</string>
            </dict>
            <key>qidong_baimaguanwenzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1071},{21,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,65}}</string>
                <key>sourceSize</key>
                <string>{21,65}</string>
            </dict>
            <key>qidong_baimaguanwenzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,877},{22,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,76}}</string>
                <key>sourceSize</key>
                <string>{22,76}</string>
            </dict>
            <key>qidong_baimaguanwenzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1500},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>qidong_baimaguanyinzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,1191},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>qidong_datongqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1214},{291,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,286}}</string>
                <key>sourceSize</key>
                <string>{291,286}</string>
            </dict>
            <key>qidong_datongqian1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1914},{46,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,233}}</string>
                <key>sourceSize</key>
                <string>{46,233}</string>
            </dict>
            <key>qidong_datongqian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1502},{394,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,175}}</string>
                <key>sourceSize</key>
                <string>{394,175}</string>
            </dict>
            <key>qidong_datongqian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,476},{399,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,175}}</string>
                <key>sourceSize</key>
                <string>{399,175}</string>
            </dict>
            <key>qidong_heiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1189},{361,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,357}}</string>
                <key>sourceSize</key>
                <string>{361,357}</string>
            </dict>
            <key>qidong_jiezaidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1799},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>qidong_jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1969},{1099,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1099,20}}</string>
                <key>sourceSize</key>
                <string>{1099,20}</string>
            </dict>
            <key>qidong_jindudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2013},{1099,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1099,19}}</string>
                <key>sourceSize</key>
                <string>{1099,19}</string>
            </dict>
            <key>qidong_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1991},{1138,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1138,20}}</string>
                <key>sourceSize</key>
                <string>{1138,20}</string>
            </dict>
            <key>qidong_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{1136,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,150}}</string>
                <key>sourceSize</key>
                <string>{1136,150}</string>
            </dict>
            <key>qidong_xia3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1878},{723,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{723,89}}</string>
                <key>sourceSize</key>
                <string>{723,89}</string>
            </dict>
            <key>qidong_yun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,1967},{121,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,63}}</string>
                <key>sourceSize</key>
                <string>{121,63}</string>
            </dict>
            <key>qidong_yun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1799},{167,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,97}}</string>
                <key>sourceSize</key>
                <string>{169,97}</string>
            </dict>
            <key>qidong_yun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,877},{60,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{62,28}</string>
            </dict>
            <key>qidongjiemian_LOGO01.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,362},{89,68}}</string>
                <key>offset</key>
                <string>{-18,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,181},{89,68}}</string>
                <key>sourceSize</key>
                <string>{947,472}</string>
            </dict>
            <key>qidongjiemian_LOGO02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,926},{263,200}}</string>
                <key>offset</key>
                <string>{-16,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,115},{263,200}}</string>
                <key>sourceSize</key>
                <string>{947,472}</string>
            </dict>
            <key>qidongjiemian_LOGO03.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1509},{401,334}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,48},{401,334}}</string>
                <key>sourceSize</key>
                <string>{947,472}</string>
            </dict>
            <key>qidongjiemian_LOGO04.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,476},{521,448}}</string>
                <key>offset</key>
                <string>{33,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,0},{521,448}}</string>
                <key>sourceSize</key>
                <string>{947,472}</string>
            </dict>
            <key>qidongjiemian_LOGO05.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{573,472}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,0},{573,472}}</string>
                <key>sourceSize</key>
                <string>{947,472}</string>
            </dict>
            <key>qidongjiemian_LOGO06.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1502},{295,288}}</string>
                <key>offset</key>
                <string>{-17,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,70},{295,288}}</string>
                <key>sourceSize</key>
                <string>{947,472}</string>
            </dict>
            <key>qidongjiemian_LOGO07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{947,358}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{947,358}}</string>
                <key>sourceSize</key>
                <string>{947,472}</string>
            </dict>
            <key>qidongjiemian_LOGO08.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,362},{825,358}}</string>
                <key>offset</key>
                <string>{-12,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{825,358}}</string>
                <key>sourceSize</key>
                <string>{947,472}</string>
            </dict>
            <key>qidongjiemian_LOGO09.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,362},{707,358}}</string>
                <key>offset</key>
                <string>{-20,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,0},{707,358}}</string>
                <key>sourceSize</key>
                <string>{947,472}</string>
            </dict>
            <key>qidongjiemian_LOGO10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1548},{579,328}}</string>
                <key>offset</key>
                <string>{-19,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,30},{579,328}}</string>
                <key>sourceSize</key>
                <string>{947,472}</string>
            </dict>
            <key>qidongjiemian_LOGO11.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,926},{459,286}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,72},{459,286}}</string>
                <key>sourceSize</key>
                <string>{947,472}</string>
            </dict>
            <key>qidongjiemian_LOGO12.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1214},{411,286}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,72},{411,286}}</string>
                <key>sourceSize</key>
                <string>{947,472}</string>
            </dict>
            <key>qidongjiemian_xilieming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,1502},{317,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,53}}</string>
                <key>sourceSize</key>
                <string>{317,53}</string>
            </dict>
            <key>qidongjiemian_zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,379},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,50}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>zhujiemian_dengluanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1967},{151,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,62}}</string>
                <key>sourceSize</key>
                <string>{151,62}</string>
            </dict>
            <key>zhujiemian_gengxinquedinganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,1967},{150,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,62}}</string>
                <key>sourceSize</key>
                <string>{150,62}</string>
            </dict>
            <key>zhujiemian_gengxinshibaiquedinganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,877},{182,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,62}}</string>
                <key>sourceSize</key>
                <string>{182,62}</string>
            </dict>
            <key>zhujiemian_guanbianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,1799},{71,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,66}}</string>
                <key>sourceSize</key>
                <string>{71,66}</string>
            </dict>
            <key>zhujiemian_jiancebanbenxinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{375,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,65}}</string>
                <key>sourceSize</key>
                <string>{375,65}</string>
            </dict>
            <key>zhujiemian_shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,1502},{320,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,56}}</string>
                <key>sourceSize</key>
                <string>{320,56}</string>
            </dict>
            <key>zhujiemian_tongyongdikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1071},{436,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,332}}</string>
                <key>sourceSize</key>
                <string>{436,332}</string>
            </dict>
            <key>zhujiemian_zhuceanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,1061},{151,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,62}}</string>
                <key>sourceSize</key>
                <string>{151,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qidongdonghua.png</string>
            <key>size</key>
            <string>{1601,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:801dc4ed76b85966139c5438e1088e41$</string>
            <key>textureFileName</key>
            <string>qidongdonghua.png</string>
        </dict>
    </dict>
</plist>
