<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qingong_bingfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,877},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>qingong_denglong.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,540},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>qingong_dizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{10,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{10,147}}</string>
                <key>sourceSize</key>
                <string>{50,147}</string>
            </dict>
            <key>qingong_dudou.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,275},{127,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,112}}</string>
                <key>sourceSize</key>
                <string>{127,112}</string>
            </dict>
            <key>qingong_fazhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,410},{38,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,90}}</string>
                <key>sourceSize</key>
                <string>{38,90}</string>
            </dict>
            <key>qingong_gongshan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{118,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,87}}</string>
                <key>sourceSize</key>
                <string>{118,87}</string>
            </dict>
            <key>qingong_guanyinxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{87,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,110}}</string>
                <key>sourceSize</key>
                <string>{87,110}</string>
            </dict>
            <key>qingong_guanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,886},{44,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>qingong_heizhenzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,502},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>qingong_huameibi.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,275},{111,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,21}}</string>
                <key>sourceSize</key>
                <string>{111,21}</string>
            </dict>
            <key>qingong_hudie.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,947},{55,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,42}}</string>
                <key>sourceSize</key>
                <string>{55,42}</string>
            </dict>
            <key>qingong_huwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,540},{40,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,92}}</string>
                <key>sourceSize</key>
                <string>{40,92}</string>
            </dict>
            <key>qingong_jiezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,666},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>qingong_jiubei.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,618},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>qingong_juanzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,881},{25,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,99}}</string>
                <key>sourceSize</key>
                <string>{25,99}</string>
            </dict>
            <key>qingong_lianpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,634},{101,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,47}}</string>
                <key>sourceSize</key>
                <string>{101,47}</string>
            </dict>
            <key>qingong_liushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,636},{27,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,130}}</string>
                <key>sourceSize</key>
                <string>{27,130}</string>
            </dict>
            <key>qingong_longtuteng.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,389},{100,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,83}}</string>
                <key>sourceSize</key>
                <string>{100,83}</string>
            </dict>
            <key>qingong_maozhuayin.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,699},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>qingong_mianju.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,352},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>qingong_mudanhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,764},{55,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,46}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>qingong_niao.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,546},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>qingong_peijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,268}}</string>
                <key>sourceSize</key>
                <string>{88,268}</string>
            </dict>
            <key>qingong_pingguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,620},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>qingong_pipa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{80,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,133}}</string>
                <key>sourceSize</key>
                <string>{80,133}</string>
            </dict>
            <key>qingong_sezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,928},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>qingong_shangmingsuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{54,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,91}}</string>
                <key>sourceSize</key>
                <string>{54,91}</string>
            </dict>
            <key>qingong_shengzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,768},{111,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,56}}</string>
                <key>sourceSize</key>
                <string>{111,56}</string>
            </dict>
            <key>qingong_shihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,170},{103,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>qingong_shoulian.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,834},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>qingong_shoupa.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,155},{97,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,37}}</string>
                <key>sourceSize</key>
                <string>{97,37}</string>
            </dict>
            <key>qingong_shoushihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,825},{59,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{59,46}</string>
            </dict>
            <key>qingong_shoushihe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,273},{69,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,77}}</string>
                <key>sourceSize</key>
                <string>{69,79}</string>
            </dict>
            <key>qingong_shouzhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,340},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>qingong_shuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,511},{73,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,33}}</string>
                <key>sourceSize</key>
                <string>{73,33}</string>
            </dict>
            <key>qingong_tongjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{139,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,166}}</string>
                <key>sourceSize</key>
                <string>{139,166}</string>
            </dict>
            <key>qingong_toushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,899},{62,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>qingong_xianglang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{46,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,149}}</string>
                <key>sourceSize</key>
                <string>{46,149}</string>
            </dict>
            <key>qingong_xinfeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,402},{98,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,36}}</string>
                <key>sourceSize</key>
                <string>{98,36}</string>
            </dict>
            <key>qingong_xiuhuaxie.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,764},{59,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{59,46}</string>
            </dict>
            <key>qingong_yanzhihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,736},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>qingong_yaoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,450},{73,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,59}}</string>
                <key>sourceSize</key>
                <string>{73,59}</string>
            </dict>
            <key>qingong_yemingzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,682},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>qingong_yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,821},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>qingong_yumao.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,546},{44,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,72}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>qingong_yupei.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,267},{35,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,71}}</string>
                <key>sourceSize</key>
                <string>{35,71}</string>
            </dict>
            <key>qingong_yuxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,963},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>qingong_yuzhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,989},{21,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,54}}</string>
                <key>sourceSize</key>
                <string>{21,54}</string>
            </dict>
            <key>qingong_zhihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,768},{64,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,47}}</string>
                <key>sourceSize</key>
                <string>{64,47}</string>
            </dict>
            <key>qingong_zhijiatao.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,598},{46,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,18}}</string>
                <key>sourceSize</key>
                <string>{46,18}</string>
            </dict>
            <key>zhedang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,546},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>zhedang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,896},{45,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,110}}</string>
                <key>sourceSize</key>
                <string>{45,110}</string>
            </dict>
            <key>zhedang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,636},{119,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,53}}</string>
                <key>sourceSize</key>
                <string>{119,53}</string>
            </dict>
            <key>zhedang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{95,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,151}}</string>
                <key>sourceSize</key>
                <string>{95,151}</string>
            </dict>
            <key>zhedang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,194},{71,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,41}}</string>
                <key>sourceSize</key>
                <string>{71,41}</string>
            </dict>
            <key>zhedang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,474},{64,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,113}}</string>
                <key>sourceSize</key>
                <string>{64,113}</string>
            </dict>
            <key>zhedang15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{95,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,124}}</string>
                <key>sourceSize</key>
                <string>{95,124}</string>
            </dict>
            <key>zhedang16.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,888},{99,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{99,60}</string>
            </dict>
            <key>zhedang17.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,765},{129,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,51}}</string>
                <key>sourceSize</key>
                <string>{129,51}</string>
            </dict>
            <key>zhedang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,737},{59,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,29}}</string>
                <key>sourceSize</key>
                <string>{59,29}</string>
            </dict>
            <key>zhedang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,194},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>zhedang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,970},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>zhedang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,699},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>zhedang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,757},{31,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,129}}</string>
                <key>sourceSize</key>
                <string>{31,129}</string>
            </dict>
            <key>zhedang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,736},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>zhedang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,619},{12,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,51}}</string>
                <key>sourceSize</key>
                <string>{12,51}</string>
            </dict>
            <key>zhedang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,450},{14,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,65}}</string>
                <key>sourceSize</key>
                <string>{14,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene_1.png</string>
            <key>size</key>
            <string>{344,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07559b494b3703a3787e31dffacbcf3b$</string>
            <key>textureFileName</key>
            <string>gameScene_1.png</string>
        </dict>
    </dict>
</plist>
