<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tq001.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,40},{39,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,15}}</string>
                <key>sourceSize</key>
                <string>{39,15}</string>
            </dict>
            <key>tq002.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,21},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>tq003.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,24},{49,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,20}}</string>
                <key>sourceSize</key>
                <string>{49,20}</string>
            </dict>
            <key>tq004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,31},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
            <key>tq005.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,46},{50,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,14}}</string>
                <key>sourceSize</key>
                <string>{50,14}</string>
            </dict>
            <key>tq006.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,25},{49,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,26}}</string>
                <key>sourceSize</key>
                <string>{49,26}</string>
            </dict>
            <key>tq007.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>tq008.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{56,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,23}}</string>
                <key>sourceSize</key>
                <string>{56,23}</string>
            </dict>
            <key>tq009.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{59,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,21}}</string>
                <key>sourceSize</key>
                <string>{59,21}</string>
            </dict>
            <key>tq010.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{64,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,27}}</string>
                <key>sourceSize</key>
                <string>{64,27}</string>
            </dict>
            <key>tq011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,46}}</string>
                <key>sourceSize</key>
                <string>{69,46}</string>
            </dict>
            <key>tq012.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>tq013.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>tq014.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,31},{29,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,51}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>tq015.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>tq016.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,27},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>tq017.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{20,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,52}}</string>
                <key>sourceSize</key>
                <string>{20,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiangli_tq.png</string>
            <key>size</key>
            <string>{504,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f785467467c1aec5268886c811ac7634$</string>
            <key>textureFileName</key>
            <string>jiangli_tq.png</string>
        </dict>
    </dict>
</plist>
