<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cuowu_tishi_daojishi_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{140,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,122}}</string>
                <key>sourceSize</key>
                <string>{140,122}</string>
            </dict>
            <key>cuowu_tishi_daojishi_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,122}}</string>
                <key>sourceSize</key>
                <string>{146,122}</string>
            </dict>
            <key>cuowu_tishi_daojishi_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{98,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,136}}</string>
                <key>sourceSize</key>
                <string>{98,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dianjicuowudonghua.png</string>
            <key>size</key>
            <string>{430,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ae3a57306ac3a3c4e4fb800099867f5$</string>
            <key>textureFileName</key>
            <string>dianjicuowudonghua.png</string>
        </dict>
    </dict>
</plist>
