<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cangjingge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{143,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{143,93}}</string>
                <key>sourceSize</key>
                <string>{151,103}</string>
            </dict>
            <key>chanfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,897},{135,99}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{135,99}}</string>
                <key>sourceSize</key>
                <string>{153,115}</string>
            </dict>
            <key>daditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{762,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{762,542}}</string>
                <key>sourceSize</key>
                <string>{762,542}</string>
            </dict>
            <key>kefang.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,802},{137,99}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{137,99}}</string>
                <key>sourceSize</key>
                <string>{159,115}</string>
            </dict>
            <key>wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{518,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,34}}</string>
                <key>sourceSize</key>
                <string>{518,34}</string>
            </dict>
            <key>zhaifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,802},{124,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{124,102}}</string>
                <key>sourceSize</key>
                <string>{140,116}</string>
            </dict>
            <key>zhengdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,802},{134,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{134,100}}</string>
                <key>sourceSize</key>
                <string>{154,118}</string>
            </dict>
            <key>zhonglou.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,903},{116,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{116,96}}</string>
                <key>sourceSize</key>
                <string>{134,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene_8.png</string>
            <key>size</key>
            <string>{546,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:382aa9230cd4382545cdc0835773b6fc:1/1$</string>
            <key>textureFileName</key>
            <string>gameScene_8.png</string>
        </dict>
    </dict>
</plist>
