<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CJ1_XA.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,1580},{114,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,86}}</string>
                <key>sourceSize</key>
                <string>{114,86}</string>
            </dict>
            <key>CJ1_an01men.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{319,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,474}}</string>
                <key>sourceSize</key>
                <string>{319,474}</string>
            </dict>
            <key>CJ1_an02men.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1210},{314,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,474}}</string>
                <key>sourceSize</key>
                <string>{314,474}</string>
            </dict>
            <key>CJ1_baiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,77},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,31},{24,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>CJ1_baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2010},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CJ1_bi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,2},{26,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,73}}</string>
                <key>sourceSize</key>
                <string>{26,73}</string>
            </dict>
            <key>CJ1_bitong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,923},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>CJ1_changbihou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,843},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>CJ1_deng.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1666},{110,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,169}}</string>
                <key>sourceSize</key>
                <string>{110,169}</string>
            </dict>
            <key>CJ1_dianhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,421},{206,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,53}}</string>
                <key>sourceSize</key>
                <string>{206,53}</string>
            </dict>
            <key>CJ1_diannao.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1033},{295,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,207}}</string>
                <key>sourceSize</key>
                <string>{295,207}</string>
            </dict>
            <key>CJ1_diansu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1438},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>CJ1_erji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1773},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>CJ1_fangdajing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,1571},{95,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,53}}</string>
                <key>sourceSize</key>
                <string>{95,53}</string>
            </dict>
            <key>CJ1_fengshan.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1853},{153,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,162}}</string>
                <key>sourceSize</key>
                <string>{153,162}</string>
            </dict>
            <key>CJ1_guanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,1858},{55,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,109}}</string>
                <key>sourceSize</key>
                <string>{55,109}</string>
            </dict>
            <key>CJ1_gudongwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,999},{91,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,51}}</string>
                <key>sourceSize</key>
                <string>{91,51}</string>
            </dict>
            <key>CJ1_guqiju.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1858},{154,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,151}}</string>
                <key>sourceSize</key>
                <string>{154,151}</string>
            </dict>
            <key>CJ1_haibao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1460},{286,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,216}}</string>
                <key>sourceSize</key>
                <string>{286,216}</string>
            </dict>
            <key>CJ1_haibao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1242},{286,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,216}}</string>
                <key>sourceSize</key>
                <string>{286,216}</string>
            </dict>
            <key>CJ1_hongguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1668},{34,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,36}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>CJ1_hulu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1990},{101,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,50}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>CJ1_jiaodaijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1531},{87,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,38}}</string>
                <key>sourceSize</key>
                <string>{87,38}</string>
            </dict>
            <key>CJ1_jishiben.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1996},{123,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,42}}</string>
                <key>sourceSize</key>
                <string>{123,42}</string>
            </dict>
            <key>CJ1_jita.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,2},{119,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,425}}</string>
                <key>sourceSize</key>
                <string>{119,425}</string>
            </dict>
            <key>CJ1_jugu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1170},{56,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,63}}</string>
                <key>sourceSize</key>
                <string>{56,63}</string>
            </dict>
            <key>CJ1_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,263},{113,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,156}}</string>
                <key>sourceSize</key>
                <string>{113,156}</string>
            </dict>
            <key>CJ1_lanhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1858},{81,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,130}}</string>
                <key>sourceSize</key>
                <string>{81,130}</string>
            </dict>
            <key>CJ1_lunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1678},{197,173}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,173}}</string>
                <key>sourceSize</key>
                <string>{197,175}</string>
            </dict>
            <key>CJ1_lunzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1668},{103,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,97}}</string>
                <key>sourceSize</key>
                <string>{103,97}</string>
            </dict>
            <key>CJ1_ma.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1238},{105,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,145}}</string>
                <key>sourceSize</key>
                <string>{105,145}</string>
            </dict>
            <key>CJ1_maojin.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1837},{171,108}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{171,108}}</string>
                <key>sourceSize</key>
                <string>{177,118}</string>
            </dict>
            <key>CJ1_panzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,1242},{183,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,60}}</string>
                <key>sourceSize</key>
                <string>{183,60}</string>
            </dict>
            <key>CJ1_sexiangtou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1996},{72,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,44}}</string>
                <key>sourceSize</key>
                <string>{72,44}</string>
            </dict>
            <key>CJ1_tangyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,651},{363,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,380}}</string>
                <key>sourceSize</key>
                <string>{363,380}</string>
            </dict>
            <key>CJ1_tielan.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1996},{125,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,39}}</string>
                <key>sourceSize</key>
                <string>{125,39}</string>
            </dict>
            <key>CJ1_tieta.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,1427},{85,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,151}}</string>
                <key>sourceSize</key>
                <string>{85,151}</string>
            </dict>
            <key>CJ1_tuopan.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1545},{161,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,119}}</string>
                <key>sourceSize</key>
                <string>{161,119}</string>
            </dict>
            <key>CJ1_wenjianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,640},{51,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,106}}</string>
                <key>sourceSize</key>
                <string>{51,106}</string>
            </dict>
            <key>CJ1_wurenji.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1686},{336,267}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{336,267}}</string>
                <key>sourceSize</key>
                <string>{340,269}</string>
            </dict>
            <key>CJ1_xiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{259,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,98}}</string>
                <key>sourceSize</key>
                <string>{259,98}</string>
            </dict>
            <key>CJ1_xiangji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,1773},{72,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>CJ1_xiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,748},{68,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,93}}</string>
                <key>sourceSize</key>
                <string>{68,93}</string>
            </dict>
            <key>CJ1_xiangpian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1092},{53,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,76}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>CJ1_xiangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1385},{88,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,51}}</string>
                <key>sourceSize</key>
                <string>{88,51}</string>
            </dict>
            <key>CJ1_xianzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1996},{38,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,68}}</string>
                <key>sourceSize</key>
                <string>{38,68}</string>
            </dict>
            <key>CJ1_yizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1210},{186,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,333}}</string>
                <key>sourceSize</key>
                <string>{186,333}</string>
            </dict>
            <key>CJ1_yundu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{740,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{740,124}}</string>
                <key>sourceSize</key>
                <string>{740,124}</string>
            </dict>
            <key>CJ1_yundu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{647,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{647,181}}</string>
                <key>sourceSize</key>
                <string>{647,181}</string>
            </dict>
            <key>CJ1_zhedang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{850,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{850,1080}}</string>
                <key>sourceSize</key>
                <string>{850,1080}</string>
            </dict>
            <key>CJ1_zhituan.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1084},{115,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,104}}</string>
                <key>sourceSize</key>
                <string>{115,104}</string>
            </dict>
            <key>CJ1_zhiwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1033},{75,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,203}}</string>
                <key>sourceSize</key>
                <string>{75,203}</string>
            </dict>
            <key>CJ1_zhuanlun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,429},{209,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,187}}</string>
                <key>sourceSize</key>
                <string>{209,187}</string>
            </dict>
            <key>CJ1_zhuozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1686},{407,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,308}}</string>
                <key>sourceSize</key>
                <string>{407,308}</string>
            </dict>
            <key>dengguang001.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1678},{162,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,51},{162,178}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene_1.png</string>
            <key>size</key>
            <string>{1292,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edb848342e0209214af66f86bc5fe4dc$</string>
            <key>textureFileName</key>
            <string>gameScene_1.png</string>
        </dict>
    </dict>
</plist>
