<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CJ1_XA.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,379},{135,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,102}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>CJ1_ZD001.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,379},{96,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,114}}</string>
                <key>sourceSize</key>
                <string>{96,114}</string>
            </dict>
            <key>CJ1_baiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,619},{23,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,37}}</string>
                <key>sourceSize</key>
                <string>{23,37}</string>
            </dict>
            <key>CJ1_beizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,840},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>CJ1_bi.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,872},{36,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,99}}</string>
                <key>sourceSize</key>
                <string>{36,99}</string>
            </dict>
            <key>CJ1_bitong.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,692},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>CJ1_bitong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,619},{71,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,115}}</string>
                <key>sourceSize</key>
                <string>{71,115}</string>
            </dict>
            <key>CJ1_bujia.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,123},{158,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,123}}</string>
                <key>sourceSize</key>
                <string>{158,123}</string>
            </dict>
            <key>CJ1_chaju.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{163,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,133}}</string>
                <key>sourceSize</key>
                <string>{163,133}</string>
            </dict>
            <key>CJ1_changbihou.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,698},{108,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,95}}</string>
                <key>sourceSize</key>
                <string>{108,95}</string>
            </dict>
            <key>CJ1_chelun.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,698},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>CJ1_daidinghe.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,248},{85,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,129}}</string>
                <key>sourceSize</key>
                <string>{85,129}</string>
            </dict>
            <key>CJ1_dawei.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,479},{104,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,149}}</string>
                <key>sourceSize</key>
                <string>{104,149}</string>
            </dict>
            <key>CJ1_daxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,857},{102,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,90}}</string>
                <key>sourceSize</key>
                <string>{104,90}</string>
            </dict>
            <key>CJ1_dianhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,731},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>CJ1_diaoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,248},{148,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,129}}</string>
                <key>sourceSize</key>
                <string>{148,129}</string>
            </dict>
            <key>CJ1_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,475},{78,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,103}}</string>
                <key>sourceSize</key>
                <string>{78,103}</string>
            </dict>
            <key>CJ1_dunpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{275,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,278}}</string>
                <key>sourceSize</key>
                <string>{275,278}</string>
            </dict>
            <key>CJ1_erji.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,708},{109,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,94}}</string>
                <key>sourceSize</key>
                <string>{109,94}</string>
            </dict>
            <key>CJ1_fengmi.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,893},{138,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,128}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>CJ1_fengshan.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,613},{83,119}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,119}}</string>
                <key>sourceSize</key>
                <string>{83,129}</string>
            </dict>
            <key>CJ1_goujiqizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,972},{49,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,74}}</string>
                <key>sourceSize</key>
                <string>{49,74}</string>
            </dict>
            <key>CJ1_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{162,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,178}}</string>
                <key>sourceSize</key>
                <string>{162,178}</string>
            </dict>
            <key>CJ1_gubei.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,863},{56,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,63}}</string>
                <key>sourceSize</key>
                <string>{56,63}</string>
            </dict>
            <key>CJ1_huaping.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,271},{79,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,202}}</string>
                <key>sourceSize</key>
                <string>{83,204}</string>
            </dict>
            <key>CJ1_jiaodaijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,979},{87,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,38}}</string>
                <key>sourceSize</key>
                <string>{87,38}</string>
            </dict>
            <key>CJ1_jihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,248},{147,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,129}}</string>
                <key>sourceSize</key>
                <string>{147,129}</string>
            </dict>
            <key>CJ1_jishiben.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,123},{123,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,42}}</string>
                <key>sourceSize</key>
                <string>{123,42}</string>
            </dict>
            <key>CJ1_jita.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{119,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,425}}</string>
                <key>sourceSize</key>
                <string>{119,425}</string>
            </dict>
            <key>CJ1_jiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,921},{36,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,104}}</string>
                <key>sourceSize</key>
                <string>{36,104}</string>
            </dict>
            <key>CJ1_jiujia.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,483},{128,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,129}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>CJ1_lanhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,495},{81,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,130}}</string>
                <key>sourceSize</key>
                <string>{81,130}</string>
            </dict>
            <key>CJ1_lunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,808},{89,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,86}}</string>
                <key>sourceSize</key>
                <string>{89,86}</string>
            </dict>
            <key>CJ1_lunzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,872},{104,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{104,98}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>CJ1_maoxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,896},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>CJ1_mingpianzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,714},{124,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,54}}</string>
                <key>sourceSize</key>
                <string>{130,58}</string>
            </dict>
            <key>CJ1_qixie.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,680},{122,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,54}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>CJ1_shexiangtou.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,949},{72,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,44}}</string>
                <key>sourceSize</key>
                <string>{72,44}</string>
            </dict>
            <key>CJ1_taideng.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,551},{110,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,169}}</string>
                <key>sourceSize</key>
                <string>{110,169}</string>
            </dict>
            <key>CJ1_tiejia.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,578},{125,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,39}}</string>
                <key>sourceSize</key>
                <string>{125,39}</string>
            </dict>
            <key>CJ1_tieta.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,722},{85,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,151}}</string>
                <key>sourceSize</key>
                <string>{85,151}</string>
            </dict>
            <key>CJ1_tuxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,585},{96,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,121}}</string>
                <key>sourceSize</key>
                <string>{96,121}</string>
            </dict>
            <key>CJ1_tuxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{113,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,156}}</string>
                <key>sourceSize</key>
                <string>{113,156}</string>
            </dict>
            <key>CJ1_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,819},{91,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,51}}</string>
                <key>sourceSize</key>
                <string>{91,51}</string>
            </dict>
            <key>CJ1_wano.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,580},{132,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,62}}</string>
                <key>sourceSize</key>
                <string>{132,62}</string>
            </dict>
            <key>CJ1_wano1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,973},{66,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,41}}</string>
                <key>sourceSize</key>
                <string>{66,41}</string>
            </dict>
            <key>CJ1_wenjujia.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,804},{51,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,106}}</string>
                <key>sourceSize</key>
                <string>{51,106}</string>
            </dict>
            <key>CJ1_wurenji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,267}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{336,267}}</string>
                <key>sourceSize</key>
                <string>{340,269}</string>
            </dict>
            <key>CJ1_xiangji.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,949},{91,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,72}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>CJ1_xiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,585},{68,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,93}}</string>
                <key>sourceSize</key>
                <string>{68,93}</string>
            </dict>
            <key>CJ1_xiangpian.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,808},{53,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,76}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>CJ1_xiangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,804},{88,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,51}}</string>
                <key>sourceSize</key>
                <string>{88,51}</string>
            </dict>
            <key>CJ1_xiangzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,379},{171,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,98}}</string>
                <key>sourceSize</key>
                <string>{171,98}</string>
            </dict>
            <key>CJ1_xianzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,768},{38,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,68}}</string>
                <key>sourceSize</key>
                <string>{38,68}</string>
            </dict>
            <key>CJ1_yaoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,123},{217,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,123}}</string>
                <key>sourceSize</key>
                <string>{217,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene_1.png</string>
            <key>size</key>
            <string>{773,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c212f0b6376742c2be61ee7c503f323$</string>
            <key>textureFileName</key>
            <string>gameScene_1.png</string>
        </dict>
    </dict>
</plist>
