<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1150},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>fanhui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,984},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>gongju_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,984},{128,107}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{128,107}}</string>
                <key>sourceSize</key>
                <string>{140,131}</string>
            </dict>
            <key>gongju_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,793},{138,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{138,111}}</string>
                <key>sourceSize</key>
                <string>{166,131}</string>
            </dict>
            <key>gongju_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1145},{111,127}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{111,127}}</string>
                <key>sourceSize</key>
                <string>{143,131}</string>
            </dict>
            <key>gongju_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1145},{137,119}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{137,119}}</string>
                <key>sourceSize</key>
                <string>{145,131}</string>
            </dict>
            <key>gongju_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,906},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{119,120}</string>
            </dict>
            <key>gongju_jineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{383,381}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,49},{383,381}}</string>
                <key>sourceSize</key>
                <string>{479,481}</string>
            </dict>
            <key>gongju_jineng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,1093},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>gongju_jishiben.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,110},{81,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,73}}</string>
                <key>sourceSize</key>
                <string>{81,73}</string>
            </dict>
            <key>gongju_shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,2},{83,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,106}}</string>
                <key>sourceSize</key>
                <string>{83,106}</string>
            </dict>
            <key>gongju_shoujiyin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,185},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>gongju_shoujiyin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,793},{23,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,42}}</string>
                <key>sourceSize</key>
                <string>{23,42}</string>
            </dict>
            <key>gongju_shoujiyin03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,984},{29,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,57}}</string>
                <key>sourceSize</key>
                <string>{29,57}</string>
            </dict>
            <key>gongju_yuandian.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1224},{46,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>jiahao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1093},{55,55}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>jiahao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,984},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>zhucaidan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1028},{188,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,211}}</string>
                <key>sourceSize</key>
                <string>{188,211}</string>
            </dict>
            <key>zhucaidan_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,929},{310,342}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,128},{310,342}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>zhucaidan_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,654},{328,358}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,119},{328,358}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>zhucaidan_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,205},{338,372}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,112},{338,372}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>zhucaidan_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,439},{360,394}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,101},{360,394}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>zhucaidan_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,439},{352,386}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,105},{352,386}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>zhucaidan_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,268},{344,384}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,109},{344,384}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>zhucaidan_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{358,400}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,101},{358,400}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>zhucaidan_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,822},{330,372}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,116},{330,372}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>zhucaidan_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,579},{310,348}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,129},{310,348}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>zhucaidan_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,801},{310,342}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,128},{310,342}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>zhucaidan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,1186},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>zhucaidan_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{69,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,43}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>zhucaidan_duihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{1154,169}}</string>
                <key>offset</key>
                <string>{-43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{1154,169}}</string>
                <key>sourceSize</key>
                <string>{1280,169}</string>
            </dict>
            <key>zhucaidan_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1145},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,82}</string>
            </dict>
            <key>zhucaidan_wupinlan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1758,201}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{1758,201}}</string>
                <key>sourceSize</key>
                <string>{1920,201}</string>
            </dict>
            <key>zhucaidan_wupinlanfaguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{1514,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1514,61}}</string>
                <key>sourceSize</key>
                <string>{1514,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene_1_zhucaidan.png</string>
            <key>size</key>
            <string>{1858,1274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c969512075036dbac6f675526af4983a$</string>
            <key>textureFileName</key>
            <string>gameScene_1_zhucaidan.png</string>
        </dict>
    </dict>
</plist>
